<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{% image turkey.svg %}</a>
    <span class="site-title">Friendsgiving</span>

      
    

    <nav class="site-nav">
      

      <form class="email-signup" id="form-signup">

        <h2>Join Our Friendsgiving!</h2><br>
      
        <input type="email" placeholder="email" required>
        
        <input type="text" placeholder="name" required>
        
        <input type="text"  placeholder="mobile number" required>
        <input type="submit">
        <p class="error" id="header-error"></p>
      </form>
      <div class="links">
        <a href="#mobile-top">mobile</a>
        <a href="#recipe-top">recipe exchange</a>
        <a href="#placecard-top">place cards</a>
        <a href="#topic-top">conversation starters</a>
      </div>


    </nav>
    
  </div>

</header>
