<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{% image turkey.svg %}</a>
    <span class="site-title">Friendsgiving</span>
    

    <nav class="site-nav">
      
      <form class="email-signup">
        <h2>Join Our Friendsgiving!</h2>
        <label>email</label>
        <input type="email"  required>
        <label>name</label>
        <input type="text" required>
        <label>mobile</label>
        <input type="text" required>
        <input type="submit">
      </form>
      

    </nav>
    
  </div>

</header>
