<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{% image turkey.svg %}</a>
    <span class="site-title">Friendsgiving</span>
    

    <nav class="site-nav">
      
      <form class="email-signup">

        <h2>Join Our Friendsgiving!</h2><br>
      
        <input type="email" placeholder="email" required>
        
        <input type="text" placeholder="name" required>
        
        <input type="text"  placeholder="mobile number" required>
        <input type="submit">
      </form>
      

    </nav>
    
  </div>

</header>
