<form class="recipe-form" id="create-recipe-form">
  <h3>Share your Friendsgiving recipe with us!</h3>
  <p class="error" id="share-recipe-error"></p>
  <label>email*</label>
  <input type="email" name="email" required>
  <label> name*</label>
  <input type="text" name="name" required>
  <label>recipe name*</label>
  <input type="text" name="recipeName" required>
  <label>instructions*</label>
  <textarea name="instructions"></textarea>
  <label>image link</label>
  <input type="url" name="imageUrl">
  <button class="cancel" id="recipe-cancel">Cancel</button>
  <input type="submit">
  
</form>