
// email sign up in header
.email-signup {
	display:inline-block;
	@include span-columns(12);
	padding:0 0px;
	text-align:center;
	margin-bottom:0px;
	margin-top: -.2em;
	height:auto;
	@include media($tablet) {
		@include span-columns(8 of 8);
		margin-top:.8em;
	}


	h2 {
		font-size:1.2em;
		text-align:center;
		padding:0;
		margin:0;
		@include media($tablet) {
			@include span-columns(4 of 4);
			text-align:center;
		}

	}
	label {
		@include media($mobile) {
			@include span-columns(4 of 4);
		}
	}
	input{
	margin:0;
	padding:0;
		margin-bottom:5px;
		@include media($mobile) {
			@include span-columns(2 of 4);
			@include shift(1)

		}
	}
	& [type="submit"]{
			width: 5em;
      margin: auto;
      margin-top: 2%;
      display: block;
      font-family: inherit;
      font-size: 18pt;
      background-color: $background-beige;
      color: $heading-brown;
      border: none;
      border-radius: 4px;
      transition: all .3s ease-in-out;
      margin-bottom: .5em;
      @include media($mobile) {
				float:right;
			}
	}
}