
.post-list{
	width:100%;
	overflow-y: scroll;

	li{
		display:inline-block;
		vertical-align:text-top;
	}
}
.page-heading{
		@include media($mobile){
			width:100%;
		}
	}
.exchange-prompt {
	font-family: $font;
	background-color: $light-orange;
	@include span-columns(5);
	display:inline-block;
	margin:-3em  1px 1px 1px;
	text-align:center;
	padding:2em .5em 1em .5em;
	border-radius:1em;
	@include media($mobile){
		@include shift(0);
		display:block;
		@include span-columns(4 or 4);
		clear:both;
	}
	button {
		border:none;
		background-color: $light-orange;
		text-decoration: underline;
		font-family: $font;
		font-size: 2em;
		text-align:center;
		color:$light-beige;
	}
	button:hover{
		color: $brown;
	}
}
.exchange-copy{
	@include span-columns(5);
	@include shift(1);
	display:inline-block;
	font-size:1.2em;
	@include media($mobile){
		@include shift(0);
		@include span-columns(4 or 4);
		margin-bottom:5em;
	}
}


.gallery-container{
	@include span-columns(12);
	padding:10px;
	padding-bottom: 10em;
	border-bottom: 2px solid #DA7730;
	height: 17em;
	width:100%;
	overflow-y: hidden;
	overflow-x: scroll;

	.recipe-card {
		width: 13em;
		height: 14em;
		display-inline: block;
		background-color: #DA7730;
		border-radius: 5px;

		.image-container{
			height: 7em;
			overflow:hidden;
		}
		.image-container:hover{
			height: 8.2em;
			transition: 1s;
		}

		img {
			width:100%;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
	
		#pic-date, .country{
			padding-left: 5px;

			color:#EFDBB8;
			text-align:right;
		}
		.recipe-name{
			text-align:center;
			font-size: 1.4em;
		}
	}
	.recipe-card:hover{
		border: 1px solid #4F2E1E;
	}

	
}